* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(214, 124, 134);
}
header {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}
header, 
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  background: white;
	font-family: Helvetica, sans-serif;
	border: 1px solid #bbb;
	border-radius: 17px 0 0 20px;
}
form button {
	color: #07124d;
  background: #f7fffe;
  cursor: pointer;
  border:0;
	border-radius: 0 20px 20px 0;
}
form button:hover {
  background-color: #0fbcc2;
}
.todolist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}